@import "reset";
@import "fonts";
@import "vars";

*,
::after,
::before {
    box-sizing: border-box;
}
body {
    color: $black;
    font-family: $Poppins;
    font-weight: 400;
    font-size: 18px;
    background-color: $background-color;
}
a {
    text-decoration: none;
    color: inherit;
}
li {
    list-style: none;
}
img {
    max-width: 100%;
    display: block;
}
.header {
    &-top {
        padding-top: 17px;
        display: flex;
        align-items: flex-end;
        margin-bottom: 75px;
    }
    &-menu {
        margin-left: 120px;
        display: flex;
        &__list + &__list {
            margin-left: 40px;
        }
        &__link {
            font-weight: 500;
            font-size: 16px;
            line-height: 160%;
            opacity: 0.7;
            transition: all 0.3s;
            border-bottom: transparent;
        }
        &__link--active {
            padding: 0px 14px 15px;
            color: $blue;
            border-bottom: 2px solid $blue;
        }
        &__link:hover {
            color: $blue;
            padding: 0px 14px 15px;
            color: $blue;
            border-bottom: 2px solid $blue;
        }
    }
    &-btn {
        display: block;
        margin-left: auto;
        margin-bottom: 15px;
    }
    &-content__title {
        font-weight: 600;
        font-size: 57px;
        line-height: 120%;
        max-width: 520px;
    }
    &-content__span {
        color: $blue;
    }
    &-wrapper {
        @include flex;
    }
    &-content__btn {
        display: inline-block;
    }
    &-content__btn:nth-child(2) {
        margin-left: 40px;
        position: relative;
        font-size: 18px;
        line-height: 150%;
        letter-spacing: 0.02em;
        opacity: 0.7;
        padding-left: 60px;
    }
    &-content__btn:nth-child(2)::after {
        content: url(../images/header-play.svg);
        position: absolute;
        left: 0;
        top: -10px;
    }
}
.platform {
    padding: 55px 0px;
    &-inner {
        @include flex;
    }
    &-content {
        padding-left: 40px;
        width: 100%;
        max-width: 423px;
    }
    &-conten__title {
        font-family: $Gelasio;
        font-style: normal;
        font-weight: 500;
        font-size: 32px;
        line-height: 140%;
        max-width: 292px;
    }
    &-conten__text {
        opacity: 0.7;
        max-width: 423px;
        margin-bottom: 40px;
    }
    &-image {
        width: 100%;
        max-width: 784px;
        height: 484px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &-play {
        cursor: pointer;
    }
}
.services {
    padding: 22px 0px 70px;
    &__title {
        text-align: center;
        margin-bottom: 80px;
    }
    &-inner {
        display: flex;
        justify-content: space-between;
        &__item {
            border: 1px solid rgba(0, 0, 0, 0.1);
            border-radius: 10px;
            width: 360px;
            background-color:$white;
            padding:23px;
            text-align: center;
            opacity: 0.7;
            cursor:pointer;
        }
        &__item:hover{
            background-color:$white;
            opacity:unset;
        }
        &__image {
            margin: 0 auto;
            width: 100px;
            margin-bottom: 20px;
        }
        &__title {
            font-size: 24px;
            line-height: 150%;
            
        }
        &__text{
            max-width: 315px;
            margin: 0 auto;
        }
    }
}
.reviews{
    padding:70px 0px;
    &__title{
        text-align: center;
        margin-bottom: 60px;
    }
    &-slider{
        display: grid;
        grid-template-columns: 1fr 1fr;
        &__image{
            margin-bottom: 15px;
        }
        &__text{
            margin-bottom: 30px;
        }
        &__item{
            padding:50px 83px 50px 81px;
            max-width: 555px;
            background-color:$white;
            box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.03);
            border-radius: 10px;
            border: 1px solid rgba(0, 0, 0, 0.1);
        }
    }
    &-inner{
        display: flex;
        &__content{
            margin-left: 30px;
        }
        &__name{
            font-size: 24px;
        }
        &__job{
            font-family:$Poppins, sans-serif;;
        }
    }
}