$white: #fff;
$blue: #2d74ff;
$black: #171832;
$background-color:#F8F8F8;
$Gelasio: "Gelasio", serif;
$Poppins: "Poppins", sans-serif;

.container {
    max-width: 1170px;
    padding: 0px 15px;
    margin: 0 auto;
}
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.footer {
    margin-top: auto;
}
.title {
    font-family: $Gelasio;
    font-weight: 500;
    font-size: 32px;
    line-height: 140%;
    margin:0;
}
.text {
    font-size: 18px;
    line-height: 150%;
}
.intro {
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color:$blue;
}
.btn {
    background-color: $blue;
    padding: 15px 30px;
    border-radius: 5px;
    color: $white;
    font-family: $Poppins;
}
.platform-container{
    max-width: 1255px;
    padding:0px 15px;
    margin: 0 auto;
}
@mixin flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
